$cfff: #fff;
$c000: #000;
$c323264: #323264;
$cF5F5FA: #F5F5FA;
$c24A3FF: #24A3FF;
$cF0145A: #F0145A;
$cB3B3BA: #B3B3BA;
$cE6E6F0: #E6E6F0;
$c46466E: #46466E;

.everything{
    border-radius: 0 0 12px 12px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}

.everything::before {
    content: "";
    position: absolute;
    right: -20%;
    width: 523.404px;
    height: 600px;
    background-image: url(../img-about/Symbol.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: overlay;
    z-index: 0;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 32px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $c323264;
  }
  .burger-dark::before,
  .burger-dark::after{
    background: $cfff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 $c323264;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger-dark.burger-dark::before{
    box-shadow: 0 11px 0 $cfff;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: fixed;
    display: grid;
    padding: 335px 0 0 0;
    background: rgb(109, 109, 153);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 100%;
  }
  .menu-listt{
    display: grid;
    margin: 0 8px;
    padding: 15px;
    background-color: $cfff;
    border-radius: 12px 12px 0 0;
    row-gap: 7.5px;
    &-dark{
        background-color: $c323264;
    }
  }
  .menu-item {
    background-color: $cF5F5FA;
    display: block;
    padding: 7px 0;
    color: var(--Active-Regular, $c24A3FF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
  }
  .menu-item-active{
    color: var(--Accent, $cF0145A);
  }
  .menu-item:hover {
    background: var(--Grey-Separator, $cE6E6F0);
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  .burger{
    position: relative;
    top: -30px;
}
.svg12{
    fill: rgba(255, 255, 255, 0);
}

.svg12:hover{
    fill: $cE6E6F0;
    transition: all 0.4s ease;
    cursor: pointer;
}

.header__about{
    z-index: 1;
}

.header__top__about{
    display: grid;
    &-dark{
        background: $c323264;
    }
}

.logo{
    padding: 15px 15px 0;
    order: 2;
    display: flex;
    column-gap: 4px;
}

.logo-1{
    fill: $c46466E;
    width: 69.333px;
    height: 32px;
}

.logo-1-dark{
    fill: $cfff;
    width: 69.333px;
    height: 32px;
}

.logo-2 {
    width: 12px;
    height: 26px;
}

.logo-sub-header__about{
    fill: $c323264;
    width: 70px;
    height: 5px;
    &-dark{
        fill: $cfff;
    }
}

.p-logo{
    color: var(--Main-Regular, $c323264);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &-dark{
        color: $cfff;
    }
}

.header__about-dark{
    background:#323264;
}

.info-header__about{
    background: $cF5F5FA;
    order: 1;    
    &-dark{
        background: #5f5680
    }
}

.info__about .svg-info__about{
    display: none;
    fill: #E6E6F0;
}

.info__about .location-info__about{
    display: none;
}

.info__about .fb-gray-info__about{
    display: none;
}

.info__about{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.p-menu-info__about{
    padding: 10px 0;
    display: flex;
}

.p-info__about{
    padding: 5px 7px;
    text-align: center;
    color: var(--Grey-Text, $cB3B3BA);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    &-dark{
        color: $cfff;
    }
}

.p-info-active__about{
    color: var(--Basic-White, $cfff);
    border-radius: 8px;
    background: var(--Accent, $cF0145A);
}

.p-info__about:hover{
    color: var(--Basic-White, $cfff);
    border-radius: 8px;
    background: var(--Accent, $cF0145A);
    transition: all 0.4s ease;
    cursor: pointer;
}

.p-info__about-dark:hover{
    background: $cB3B3BA;
}

.tel-info__about{
    padding-top: 12.5px;
    color: var(--Grey-Text, $cB3B3BA);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &-dark{
        color: $cfff;
    }
}

.tel-info__about:hover{
    color: var(--Main-Alt, $c46466E);
    transition: all 0.4s ease;
}

.sub-header__about{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    &-dark{
        background:#323264 11.93%;
    }
}

.info__header__about{
    padding: 30px 30px;
    &-bottom{
        padding-bottom: 60px;
    }
    &-light{
        display: grid;
        row-gap: 30px;
        background: $cF5F5FA;
        &-gap{
            row-gap: 0;
        }
    }
    &-text{
        margin-bottom: 30px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.middle__team{
    padding: 30px 30px;
    &-text{
        align-self: stretch;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, $cF0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }
    &-dark{
        background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
        border-radius: 0 0 12px 12px;
    }
}

.middle__team-profile{
    &-wrapper {
        display: grid;
        row-gap: 30px;
    }
    &-photo{
        margin: auto;
        max-width: 315px;
        min-height: 375px;
        border-radius: 12px;
    }
    &-right{
        display: grid;
        row-gap: 30px;
    }
    &-info{
        display: grid;
        row-gap: 15px;
    }
    &-name{
        font-family: Montserrat;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-gap{
        display: grid;
        row-gap: 10px;
    }
    &-position{
        color: $cB3B3BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    &-contact{
        color: $c24A3FF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.profile__description{
    display: grid;
    row-gap: 30px;
    &-first__text{
        padding-top: 30px;
        border-top: 4px solid $cE6E6F0;
    }
    &-text{
        color: $c000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
    &-fat{
        color: $c323264;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &-gap{
        display: grid;
        row-gap: 15px;
    }
}

.middle__team-profile .svg-info__about{
    display: none;
    fill: #E6E6F0;
}
  
.person__team{
    display: grid;
    row-gap: 30px;
    &-every {
        margin: auto;
    }
    &-every-img{
        width: 315px;
        height: 300px;
        border-radius: 12px;
    }
    &-every:hover .middle__team-names-1{
        color: $cF0145A;
    }
}

.person__team-every circle{
    fill: #F5F5FA;
}
.person__team-every path{
    stroke:#24A3FF;
}

.person__team-every:hover circle{
    fill: #EDEDF7;
}
.person__team-every:hover path{
    stroke:#F0145A;
}

.middle__team-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.middle__team-names{
    display: grid;
    row-gap: 5px;
}

.middle__team-names-1{
    color: $c323264;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle__team-names-2{
    color: $cB3B3BA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.text-header__about{
    min-width: 315px;
}

.h1-text-header__about{
    align-self: stretch;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, $cF0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-text-header__about{
    align-self: stretch;
    color: var(--Basic-Black, #000);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    &-margin{
        margin-top: 28px;
    }
}

.healthy__header{
    max-height: 322px;
    margin-top: 30px;
    padding-left: 30px;
    border-left: 4px solid $cE6E6F0;
}

.row-healthy__header{
    display: grid;
    row-gap: 40px;
}

.text1-healthy__header{
    display: flex;
    column-gap: 8px;
}

.text1-healthy__header svg{
    margin-top: 6px;
}

.text-healthy__header{
    display: flex;
    column-gap: 8px;
}

.text-healthy__header svg{
    margin-top: 6px;
}

.text2-healthy__header svg{
    margin-top: 11px;
}

.plus__header{
    max-width: 254px;
    align-self: stretch;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, $cF0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-healthy__header{
    margin-top: 10px;
}

.middle__about{
    min-width: 375px;
    min-height: 114px;
    background: url(../img-about/Team-about.jpg) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-middle__about{
    color: var(--Basic-White, $cfff);
    text-align: center;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.80);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 13px;
    text-transform: uppercase;
    opacity: 0.8;
}

.info__header__about-section{
    margin-top: 30px;
}

.info__header__about-light{
    padding: 30px 30px 0;
}

.bottom__about{
    padding: 30px;
    background-color: $cF5F5FA;
    &-padding{
        padding-top: 0;
    }
}

.bottom__about .svg-info__about{
    display: none;
}

.text-bottom__about{
    color: var(--Main-Regular, $c323264);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fotos-bottom__about{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    &-1{
        padding: 24.4px 101px 25.6px;
        align-items: center;
        border-radius: 12px;
        background: var(--Basic-White, $cfff);
    }
    &-2{
        display: none;
    }
    &-3{
        display: none;
    }
    &-4{
        display: none;
    }
}

.switch-bottom__about{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 14px;
    padding-bottom: 30px;
    border-bottom: 2px solid $cE6E6F0;
    &-bottom{
        margin-top: 0;
    }
    &-none{
        padding-bottom: 0;
        border-bottom: none;
    }
}

.switch2-bottom__about{
    opacity: 0.2;
    fill: $c24A3FF;
}

.switch2-bottom__about:hover{
    transition: all 0.4s ease;
    opacity: 1;
    fill: $c24A3FF;
}


.p-info-bottom__about{
    margin-top: 30px;
    text-align: center;
    color: var(--Main-Regular, $c323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &-margin{
        margin-top: 0;
    }
}

.text-info-bottom__about{
    row-gap: 10px;

}

.blue-info-bottom__about{
    margin-top: 10px;
    text-align: center;
    display: block;
    color: var(--Active-Regular, $c24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blue-info-bottom__about:hover{
    color: var(--Accent, $cF0145A);
    transition: all 0.4s ease;
}

.contact__bottom{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fb-blue-info__about{
    margin-top: 21px;
    fill: $c24A3FF;
}

.fb-blue-info__about:hover{
    fill: $cF0145A;
    transition: all 0.4s ease;
}

.tel-contact__bottom{
    color: var(--Main-Alt, $c46466E);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email-contact__bottom{
    color: var(--Active-Regular, $c24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email-contact__bottom:hover{
    color: var(--Accent, $cF0145A);
    transition: all 0.4s ease;
}

.p-text-info-bottom__about{
    margin-top: 30px;
    align-self: stretch;
    color: var(--Grey-Text, $cB3B3BA);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.switch-inf-bottom__about-line{
    padding-top: 30px;
    border-top: 2px solid $cE6E6F0;
}

.segmented{
    display: flex;
    justify-content: center;
    &-pro{
        display: flex;
        padding: 2px;
        border-radius: 12px;
        background-color: $cE6E6F0;
        column-gap: 2px;
    }
    &-news{
        padding: 8px 30px 10px;
        color: $c323264;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 10px;
        background: $cfff;
    }
    &-articles{
        padding: 8px 30px 10px;
        color: $c323264;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 10px;
        background: $cE6E6F0;
    }
    &-articles:hover{
        background: $cF5F5FA;
        transition: all 0.4s ease;
    }
}

.info-publications{
    display: grid;
    &-img{
        max-width: 315px;
        max-height: 200px;
        border-radius: 8px 8px 0 0;
    }
    &-radius{
        display: grid;
        row-gap: 15px;
        padding: 30px;
        border-radius:0 0 8px 8px;
        background: $cfff;
        &-last{
            border-radius: 8px;
        }
    }
    &-name{
        color: $c24A3FF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-name:hover{
        color: $cF0145A;
        transition: all 0.2s ease;
    }
    &-date{
        color: $cB3B3BA;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 15px;
        border-bottom: 4px solid $cE6E6F0;
    }
    &-text{
        color: $c000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;   
    }
}
.more-publication{
    display: flex;
    justify-content: center;
    &-text{
        text-align: center;
        padding: 18px 30px;
        color: $cfff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 12px;
        background: $c24A3FF;
        box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.50);
    }
    &-text:hover{
        background: $c24A3FF;
        box-shadow: 0 0 20px 0 rgba(237, 50, 17, 0.5);
        transition: all 0.4s ease;
    }
}

.services-items{
    display: grid;
    row-gap: 30px;
    &-all{
        display: grid;
        row-gap: 30px;
    }
    &-svg{
        max-width: 92px;
        max-height: 92px;
        padding: 14px;
        background-color: $cfff;
        border-radius: 24px;
        &-small{
            padding: 23px 22px;
        }
    }
    &-bottom{
        display: grid;
        row-gap: 15px;
    }
    &-name{
        max-width: 300px;
        color: $c24A3FF;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-name:hover{
        color: $cF0145A;
        transition: all 0.4s ease;
    }
    &-text{
        color: $cfff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
}

.bg1{
    height: 10px;
    margin: 0 20px;
    border-radius: 0 0 12px 12px;
    background: #CACADB;
}

.bg2{
    height: 10px;
    margin: 0 40px;
    border-radius: 0 0 12px 12px;
    background: #E7E7F2;
}

.sub-bottom-service{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    row-gap: 30px;
    text-align: center;
    &-text{
        color: $c323264;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &-fotos-1{
        display: block;
        padding: 36px 78px 36px 80px;
        background: #1C4280;
    }
    &-fotos-2{
        display: block;
        padding: 44px 87px 44px 89px;
        background: #143646;
    }
    &-fotos-3{
        display: block;
        padding: 38px 97px 38px 99px;
        background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
    }
    &-fotos-4{
        display: block;
        padding: 39px 97px 39px 98px;
        background: #9E4DC3;
    }
    &-fotos-5{
        display: block;
        padding: 38px 100px 38px 101px;
        background: #FD9339;
    }
    &-fotos-6{
        display: block;
        padding: 36px 89.583px 36px 90.625px;
        background: #E2E2E4;
    }
    &-fotos-7{
        display: none;
    }
    &-fotos-8{
        display: none;
    }
    &-fotos-9{
        display: none;
    }
    &-fotos-10{
        display: none;
    }
    &-fotos-11{
        display: none;
    }
    &-fotos-12{
        display: none;
    }
}

.header-sub{
    padding: 115px 50px 60px 60px;
    text-align: center;
    &-text{
        color: $cfff;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-svg{
        margin-top: 159px;
        stroke: white;
    }
    &-svg:hover {
        stroke: $cF0145A;

    }
}
.next-ser__pub{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    column-gap: 2px;
    &-small{
        margin-bottom: 5px;
    }
    &-name{
        color: $c24A3FF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &-svg{
        padding-top: 1px;
        stroke: $c24A3FF;
    }
}

.next-ser__pub:hover .next-ser__pub-name{
    color: $cF0145A;
    transition: all 0.2s ease;
}
.next-ser__pub:hover .next-ser__pub-svg{
    stroke: $cF0145A;
    transition: all 0.2s ease;
}

.middle__home{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    row-gap: 30px;
    &-spans{
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        column-gap: 30px;
        overflow-x: auto;
    }
    &-name{
        color: $cB3B3BA;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &-active{
            background: var(--Gradient-Text-Red-Reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-name:hover{
        color: $cF0145A;
        transition: all 0.4s ease;
    }
    &-p{
        display: grid;
        row-gap: 30px;
        max-width: 315px;
        padding-top: 30px;
        border-top: 4px rgba(255, 255, 255, 0.30) solid;
        &-name{
            color: $cfff;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &-text{
        color: $cfff;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
}

.peron__home{
    padding: 30px 30px 0;
    &-all{
        max-height: 1087px;
        display: flex;
        flex-direction: column;
    }
    &-img{
        min-width: 315px;
        max-height: 500px;
        border-radius: 12px 12px 0 0;
    }
    &-info{
        padding: 30px;
        border-radius: 0 0 12px 12px;
        background: $cF5F5FA;
    }
    &-text{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-name{
        margin-top: 30px;
        color: $cB3B3BA;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-work{
        margin-top: 6px;
        color: $cB3B3BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

.info-everything{
    display: grid;
    row-gap: 30px;
}

.team__header{
    display: grid;
    row-gap: 30px;
    &-place{
        padding-bottom: 30px;
        border-bottom: 4px solid $cE6E6F0;
    }
    &-city{
        color: $c323264;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    &-contact{
        display: grid;
        row-gap: 15px;
    }
    &-tel{
        color: $c46466E;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    &-email{
        color: $c24A3FF;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .team__header-fb{
        display: flex;
        align-items: center;
        column-gap: 10px;
        &-text{
            color:$c24A3FF;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
    
    .team__header-fb:hover .team__header-fb-text{
        color: $cF0145A;
        transition: all 0.4s ease;
    }
    .team__header-fb:hover .fb-blue-contact{
        fill: $cF0145A;
        transition: all 0.4s ease;
    }
    .fb-blue-contact{
        margin-top: 0;
    }
}

.middle__contact-text{
    margin-bottom: 0;
}

.contact__servise{
    margin-top: 30px;
    border-radius: 12px;
    background: $cF5F5FA;
    &-padding{
        display: grid;
        padding: 30px;
        row-gap: 30px;
    }
    &-all{
        display: grid;
        row-gap: 15px;
        color: $cB3B3BA;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        &-padding{
            padding: 15px 15px;
            border-radius: 8px;
            border: 1px solid $cfff;
            background: $cfff;
        }
        &-message{
            padding: 15px 15px 90px;
        }
        &-question{
            color: $cB3B3BA;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 768px){
    .burger-checkbox,
    .burger {
    position: absolute;
    display: none;
    }
    .header__about{
        padding: 50px 60px 0;
    }
    .info-header__about{
        background: rgba(255, 255, 255, 0);
    }
    .info__about{
        padding: 0;
        display: flex;
        justify-content: left;
        column-gap: 6px;
    }
    .info__about .svg-info__about{
        display: block;
    }
    .info__about .location-info__about{
        margin-top: 2.5px;
        display: block;
        color: var(--Grey-Text, $cB3B3BA);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .info__about .fb-gray-info__about{
        display: block;
    }
    .p-menu-info__about{
        padding: 0;
    }
    .tel-info__about{
        padding: 0;
        margin-top: 2.5px;
    }
    .p-info__about{
        line-height: 15px;
    }
    .svg-info__about{
        margin-top: 9.5px;
    }
    .fb-gray-info__about svg{
        fill: $cB3B3BA;
    }
    .fb-gray-info__about-dark svg{
        fill: $cfff;
    }
    .fb-gray-info__about:hover svg{
        fill: $cF0145A;
        transition: all 0.4s ease;
    }
    .burger-checkbox{
        display: none;
    }
    .logo{
        padding: 0;
        margin-top: 30px;
        &-1{
            width: 130px;
            height: 46.499px;
                &-dark{
                fill: $cfff;
                width: 130px;
                height: 46.499px;
            }
        }
        
        &-2{
            width: 21px;
            height: 47px;
        }
    }
    .p-logo{
        font-size: 36px;
        font-weight: 400;
    }
    .sub-header__about{
        display: block;
        padding: 0 0 0 60px;
        &-bottom{
            padding-bottom: 60px;
        }
    }
    .logo-sub-header__about{
        margin-top: 6px;
        width: 130px;
        height: 7.147px;
    }
    .menu-list{
        transform: none;
        position: static;
        padding: 0;
        background: transparent;
        margin-top: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .menu-listt{
        display: flex;
        gap: 7.5px;
        margin: 0;
        padding: 0;
    }
    .menu-item{
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        padding-bottom: 5px;
        color: var(--Active-Regular, $c24A3FF);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        &-dark{
            color: $cfff;
        }
    }
    .menu-item:hover{
        background-color: transparent;
        color: var(--Accent, $cF0145A);
        border-bottom: 2px solid $cF0145A;
    }
    .menu-item-dark:hover{
        color: $cfff;
        border-bottom: 2px solid $cfff;
    }
    .header-logo-red__about{
        color: var(--Accent, $cF0145A);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 5px;
        border-bottom: 2px solid $cF0145A;
    }
    .info__header__about{
        padding: 65px 60px 60px;
    }
    .middle__team{
        padding: 65px 60px 60px;
        &-text{
            font-size: 38px;
            margin-bottom: 60px;
        }
    }
    .person__team{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        &-every {
            margin: 0;
        }
        &-every-img{
            width: 294px;
            height: 400px;
        }
    }
    .h1-text-header__about{
    font-size: 38px;
    }
    .middle__about{
        min-width: 768px;
        min-height: 233px;
    }
    .text-middle__about{
        font-size: 46px;
        letter-spacing: 63px;
    }
    .bottom__about{
        padding: 30px 60px;
    }
    .fotos-bottom__about{
        column-gap: 40px;
        &-1{
            min-width: 53.333px;
            min-height: 40px;
            padding: 24.4px 39.7px 25.6px 39px;
        }
        &-2{display: block;
            min-width: 106px;
            min-height: 40px;
            
            padding: 24.4px 13px 25.6px 13px;
            border-radius: 12px;
            background: var(--Basic-White, $cfff);
        }
        &-3{display: block;
            min-width: 130px;
            min-height: 40px;
            padding: 24.4px 1px 25.6px;
            
            border-radius: 12px;
            background: var(--Basic-White, $cfff);             
        }
        &-4{display: block;
            min-width: 110.667px;
            min-height: 40px;
            padding: 24.4px 10px 25.6px 11px;
            
            border-radius: 12px;
            background: var(--Basic-White, $cfff);            
        }
    }
    .switch-bottom__about{
        &-mobile{
            display: none;
        }
    }
    .info-bottom__about{
        margin-top: 30px;
        padding-left: 125px;
        &-padding{
            margin-top: 0;
        }
    }
    .bottom__about .svg-info__about{
        margin-top: 7px;
        display: block;
    }
    .p-info-bottom__about{
        margin: 0;
    }
    .blue-info-bottom__about{
        margin-top: 2.5px;
    }
    .text-info-bottom__about{
        display: flex;
        justify-content: left;
        column-gap: 10px;
    }
    .contact__bottom{
        column-gap: 10px;
        margin-top: 21px;
        display: flex;
        flex-direction: row;
    }
    .fb-blue-info__about{
        margin-top: 0;
    }
    .contact__bottom .svg-info__about{
        margin-top: 16px;
    }
    .tel-contact__bottom{
        margin-top: 9px;
    }
    .email-contact__bottom{
        margin-top: 9px;
    }
    .info-everything{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .info-publications{
        max-width: 309px;
        align-items: stretch; 
        &-img{
            max-width: 309px;
            max-height: 200px;
            }
        &-radius{
            display: flex;
            flex-direction: column;
            min-height: 314px;
        }
    }
    .services-items{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        &-all{
            display: flex;
            max-width: 294px;
            max-height: 373px;
            flex-direction: column;
        }
    }
    .sub-bottom-service{
        &-fotos{
            display: flex;
            flex-wrap: wrap;
        }
        &-fotos-1{
            max-width: 256px;
            max-height: 120px;
            padding: 36px 19px 36px 20px;
            background: #1C4280;
        }
        &-fotos-2{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 44px 28px 44px 29px;
            background: #143646;
        }
        &-fotos-3{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 38px 38px 38px 39px;
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        }
        &-fotos-4{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 39px 38px;
            background: #9E4DC3;
        }
        &-fotos-5{
            max-width: 256px;
            max-height: 120px;  
            display: block;
            padding: 38px 41px;
            background: #FD9339;
        }
        &-fotos-6{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 36px 61.156px 36px 61.867px;
            background: #E2E2E4;
        }
        &-fotos-7{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 29px 59px 30px 59px;
            background: #C71C36;
        }
        &-fotos-8{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 22px 55px;
            background: #DCF3F9;
        }
        &-fotos-9{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 30px 37px;
            background: #EAEAEA;
        }
        &-fotos-10{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 41px 37px 41px 38px;
            background: #282240;
        }
        &-fotos-11{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 37px 33px 37px 34px;
            background: #1D4568;
        }
        &-fotos-12{
            max-width: 256px;
            max-height: 120px;
            display: block;
            padding: 13px 52px 12px 52px;
            background: $c000;
        }
    }
    .everything::before {
        right: -10%;
        width: 893.277px;
        height: 1024px;
    }
    .header-sub{
        padding: 270px 50px 90px 60px;
        &-svg{
            margin-top: 417px;
        }
    }
    .middle__home{
        padding-left: 60px;
        row-gap: 60px;
        &-name{
            font-size: 38px;
        }
        &-p{
            max-width: 648px;
            padding-top: 60px;
            &-name{
                font-size: 30px;
            }
        }
    }
    .peron__home{
        padding: 60px 60px 0;
        &-all{
            max-height: 936px;
        }
        &-img{
            min-width: 648px;
            max-height: 500px;
        }
        &-info{
            padding: 30px;
            border-radius: 0 0 12px 12px;
            background: $cF5F5FA;
        }
        &-text{
            font-size: 38px;
        }
    }
    .info-publications-long{
        max-width: 648px;
        &-img{
            min-width: 648px;
        }
        &-radius{
            min-height: 128px;
        }
    }
    .info__header__about-light{
        padding: 65px 60px 0;
    }
    .bottom__about-padding{
        padding: 0 60px 30px;
    }
    .middle__contact-text{
        margin-bottom: 0;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .middle__team-profile{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 30px;
        }
        &-photo{
            margin: 0;
            max-width: 300px;
            max-height: 375px;
        }
    }
}

@media screen and (min-width: 1024px){
    .logo{
        order: 1;
        margin: 0;
    }
    .header__top__about{
        display: flex;
        justify-content: space-between;
    }
    .logo-sub-header__about{
        margin: 0;
    }
    .sub-header__about{
        display: flex;
        justify-content: space-between;
        padding: 6.5px 60px 0;
        &-bottom{
            padding-bottom: 60px;
        }
    }
    .menu-list{
        position: relative;
        margin: 0;
        top: -5px;
    }
    .healthy__header{
        margin: 0;
    }
    .info__header__about{
        display: flex;
        justify-content: left;
        column-gap: 30px;
        &-light{
            flex-direction: column;
            background: $cF5F5FA;
        }
    }
    .middle__team-text{
        padding: 0 120px;
        margin-bottom: 60px;
        &-dark{
            padding: 0;
        }
    }
    .person__team{
        &-every-img{
            width: 261px;
            height: 400px;
        }
    }
    .middle__team-names-2{
        max-width: 210px;
    }
    .h1-text-header__about{
        margin-top: 0;
        max-width: 482px;
    }
    .p-text-header__about{
        max-width: 482px;
    }
    .sub-healthy__header{
        &-second{
            max-width: 354px;
        }
    }
    .middle__about{
        min-width: 1024px;
        min-height: 311px;
    }
    .text-middle__about{
        font-size: 86px;
    }
    .info__header__about{
        display: flex;
        column-gap: 60px;
        padding-top: 60px;
        &-light{
            padding:30px 60px 0;
        }
    }
    .info__header__about-section{
        max-width: 362px;
    }
    .bottom__about{
        padding: 30px 60px;
    }
    .fotos-bottom__about{
        justify-content: space-between;
        &-1{
            min-width: 80px;
            min-height: 60px;
            padding: 25px 58px;
        }
        &-2{
            min-width: 159px;
            min-height: 60px;
            padding: 25px 18px 25px 19px;
        }
        &-3{
            min-width: 195px;
            min-height: 60px;
            padding: 25px 1px;
        }
        &-4{
            min-width: 166px;
            min-height: 60px;
            padding: 25px 15px;
        }
    }
    .switch-info-bottom__about{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    .info-bottom__about{
        margin: 0;
        padding: 0;
    }
    .p-text-info-bottom__about{
        margin: 0;
    }
    .switch-inf-bottom__about{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        &-margin{
            margin-top: 0;
        }
    }
    .info-publications{
        max-width: 281px;
        &-img{
            max-width: 281px;
            max-height: 200px;
        }
        &-radius{
            display: flex;
            flex-direction: column;
            min-height: 356px;
        }
    }   
    .services-items{
        &-all{
            max-width: 261px;   
            max-height: 400px;         
        }
    }
    .sub-bottom-service{
        &-fotos-1{
            max-width: 256px;
            padding: 36px 19px 36px 20px;
            background: #1C4280;
        }
        &-fotos-2{
            max-width: 256px;   
            padding: 44px 28px 44px 29px;
            background: #143646;
        }
        &-fotos-3{
            max-width: 256px;   
            padding: 38px 38px 38px 39px;
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        }
        &-fotos-4{
            max-width: 256px;   
            padding: 39px 38px;
            background: #9E4DC3;
        }
        &-fotos-5{
            max-width: 256px;   
            padding: 38px 41px;
            background: #FD9339;
        }
        &-fotos-6{
            max-width: 256px;   
            padding: 36px 61.156px 36px 61.867px;
            background: #E2E2E4;
        }
        &-fotos-7{
            max-width: 256px;   
            padding: 29px 59px 30px 59px;
            background: #C71C36;
        }
        &-fotos-8{
            max-width: 256px;   
            padding: 22px 55px;
            background: #DCF3F9;
        }
        &-fotos-9{
            max-width: 256px;   
            padding: 30px 37px;
            background: #EAEAEA;
        }
        &-fotos-10{
            max-width: 256px;   
            padding: 41px 37px 41px 38px;
            background: #282240;
        }
        &-fotos-11{
            max-width: 256px;   
            padding: 37px 33px 37px 34px;
            background: #1D4568;
        }
        &-fotos-12{
            max-width: 256px;   
            padding: 13px 52px 12px 52px;
            background: $c000;
        }
    }
    .everything::before {
        right: 17%;
        width: 669.957px;
        height: 768px;
    }
    .header-sub{
        padding: 235px 50px 90px 60px;
        &-svg{
            margin-top: 290px;
        }
    }
    .middle__home{
        padding: 0 60px;
        row-gap: 0;
        flex-direction: row;
        column-gap: 60px;
        &-spans{
            padding-top: 14.5px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 30px;
            overflow-x: hidden;
        }
        &-name{
            font-size: 38px;
        }
        &-p{
            min-height: 303px;
            max-width: 470px;
            padding-left: 60px;
            padding-top: 9.5px;
            border-top: none;
            border-left: 4px rgba(255, 255, 255, 0.30) solid;
            &-name{
                font-size: 30px;
            }
        }
    }
    .peron__home{
        padding: 60px 60px 0;
        min-height: 528px;
        &-all{
            max-height: 528px;
            flex-direction: row;
        }
        &-img{
            border-radius: 12px 0 0 12px;
            min-width: 400px;
            max-height: 528px;
        }
        &-info{
            border-radius: 0 12px 12px 0;
        }
    }
    .info-publications-long{
        min-width: 281px;
        &-img{
            min-width: 281px;
        }
    }
    .info__header__about-light{
        padding: 65px 60px 0;
    }
    .bottom__about-padding{
        padding: 0 60px 30px;
    }
    .middle__team-contact{
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    .team__header{
        min-width: 422px;
    }
    .contact__servise{
        margin-top: 0;
        display: grid;
        align-items: self-start;
        max-width: 422px;
    }
    .middle__contact-text{
        padding: 0;
        margin-bottom: 0;
    }
    .middle__team-profile{
        &-wrapper{
            column-gap: 60px;
        }
    }
}

@media screen and (min-width: 1440px){
    .info__header__about{
        column-gap: 30px;
        padding: 60px 180px;
    }
    .text-header__about{
        justify-content: space-between;
    }
    .h1-text-header__about{
        max-width: 662px;
    }
    .p-text-header__about{
        max-width: 710px;
    }
    .middle__about{
        min-width: 1440px;
        min-height: 438px;
    }
    .text-middle__about{
        font-size: 96px;
    }
    .info__header__about-bottom{
        column-gap: 60px;
    }
    .info__header__about{
        justify-content: space-between;
        padding: 60px 180px;
        &-second{
            max-width: 656.5px;
        }
        &-section{
            max-width: 362px;
        }
        &-light{
            padding: 30px 60px 0;
        }
    }
    .middle__team{
        padding: 60px 60px;
        &-text{
            padding: 0 120px;
            margin-bottom: 60px;
            &-dark{
                padding: 0;
            }
        }
        &-names-2{
            min-width: 300px;
        }
        
    }
    .person__team-every-img{
        width: 400px;
        height: 400px;
    }
    .fotos-bottom__about{
        &-1{
            min-width: 80px;
            min-height: 60px;
            padding: 25px 110px;
        }
        &-2{
            min-width: 159px;
            min-height: 60px;
            padding: 25px 70px 25px 71px;
        }
        &-3{
            min-width: 195px;
            min-height: 60px;
            padding: 25px 52px 25px 53px;
        }
        &-4{
            min-width: 166px;
            min-height: 60px;
            padding: 25px 67px;
        }
    }
    .info-publications{
        max-width: 420px;
        &-img{
            min-width: 420px;
            max-height: 200px;
        }
        &-radius{
            min-height: 250px;
        }
    }
    .services-items{
        &-all{
            max-width: 400px;   
            max-height: 321px;         
        }
    }
    .sub-bottom-service{
        &-fotos-1{
            max-width: 360px;
            padding: 36px 71px 36px 72px;
            background: #1C4280;
        }
        &-fotos-2{
            max-width: 360px;   
            padding: 44px 80px 44px 81px;
            background: #143646;
        }
        &-fotos-3{
            max-width: 360px;   
            padding: 38px 90px 38px 91px;
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        }
        &-fotos-4{
            max-width: 360px;   
            padding: 39px 90px;
            background: #9E4DC3;
        }
        &-fotos-5{
            max-width: 360px;   
            padding: 38px 93px;
            background: #FD9339;
        }
        &-fotos-6{
            max-width: 360px;   
            padding: 36px 86px 36px 87px;
            background: #E2E2E4;
        }
        &-fotos-7{
            max-width: 360px;   
            padding: 29px 111px 30px 111px;
            background: #C71C36;
        }
        &-fotos-8{
            max-width: 360px;   
            padding: 22px 107px;
            background: #DCF3F9;
        }
        &-fotos-9{
            max-width: 360px;   
            padding: 30px 89px;
            background: #EAEAEA;
        }
        &-fotos-10{
            max-width: 360px;   
            padding: 41px 89px 41px 90px;
            background: #282240;
        }
        &-fotos-11{
            max-width: 360px;   
            padding: 37px 85px 37px 86px;
            background: #1D4568;
        }
        &-fotos-12{
            max-width: 360px;   
            padding: 13px 104px 12px 104px;
            background: $c000;
        }
    }
    .everything::before {
        right: 25%;
        width: 697px;
        height: 799px;
    }
    .header-sub{
        padding: 245px 50px 90px 60px;
        &-svg{
            margin-top: 305px;
        }
    }
    .middle__home{
        padding: 0 180px;
        &-name{
            font-size: 38px;
        }
        &-p{
            display: grid;
            align-content: center;
            align-items: center;
            min-height: 303px;
            max-width: 640px;
            padding-top: 0;
        }
    }
    .peron__home{
        min-height: 344px;
        &-img{
            min-width: 400px;
            max-height: 344px;
        }
    }
    .middle__team-contact{
        padding: 60px 180px;
    }
    .team__header{
        min-width: 510px;
    }
    .contact__servise{
        min-width: 510px;
    }
    .middle__contact-text{
        padding: 0;
        margin-bottom: 0;
    }
    .middle__team-profile .svg-info__about{
        display: block;
    }
    .middle__team-profile{
        padding: 60px 180px;
        &-wrapper{
            column-gap: 60px;
        }
        &-photo{
            max-width: 400px;
            min-height: 500px;
        }
        &-gap{
            display: flex;
            align-items: baseline;
            column-gap: 10px;
        }
    }
}
@media screen and (min-width: 1920px){
    .header__about{
        padding: 50px 160px 0;
    }
    .sub-header__about{
        padding: 6.5px 160px 0;
        &-bottom{
            padding-bottom: 60px;
        }
    }
    .info__header__about{
        padding: 60px 280px;
        &-light{
            padding: 30px 160px 0;
        }
    }
    .middle__team{
        padding: 60px 160px;
        &-text{
            padding: 0 120px;
            margin-bottom: 60px;
            &-dark{
                padding: 0;
            }
        }
    }
    .person__team-every-img{
        width: 493px;
        height: 400px;
    }
    .h1-text-header__about{
        min-width: 939px;
    }
    .p-text-header__about{
        min-width: 939px;
    }
    .middle__about{
        min-width: 1920px;
        min-height: 584px;
    }
    .info__header__about-section{
        min-width: 362px;
    }
    .bottom__about{
        padding: 30px 160px;
    }
    .fotos-bottom__about{
        &-1{
            padding: 25px 145px;
        }
        &-2{
            padding: 25px 105px 25px 106px;
        }
        &-3{
            padding: 25px 87px 25px 88px;
        }
        &-4{
            padding: 25px 102px;
        }
    }
    .info-publications{
        max-width: 513px;
        &-img{
            min-width: 513px;
            max-height: 200px;
        }
        &-radius{
            min-height: 230px;
        }
    }
    .services-items{
        &-all{
            max-width: 493px;   
            max-height: 295px;         
        }
    }
    .sub-bottom-service{
        padding: 0 100px 60px;
        &-fotos-1{
            border-radius: 12px 0 0 0;
            min-width: 430px;
            padding: 36px 106px 36px 107px;
            background: #1C4280;
        }
        &-fotos-2{
            min-width: 430px;   
            padding: 44px 115px 44px 116px;
            background: #143646;
        }
        &-fotos-3{
            min-width: 430px;   
            padding: 38px 125px 38px 126px;
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        }
        &-fotos-4{
            border-radius: 0 12px 0 0;
            min-width: 430px;  
            padding: 39px 125px;
            background: #9E4DC3;
        }
        &-fotos-5{
            min-width: 430px; 
            padding: 38px 128px;
            background: #FD9339;
        }
        &-fotos-6{
            min-width: 430px; 
            padding: 36px 102.722px 36px 103.917px;
            background: #E2E2E4;
        }
        &-fotos-7{
            min-width: 430px;  
            padding: 29px 146px 30px 146px;
            background: #C71C36;
        }
        &-fotos-8{
            min-width: 430px;  
            padding: 22px 142px;
            background: #DCF3F9;
        }
        &-fotos-9{
            border-radius: 0 0 0 12px;
            min-width: 430px;   
            padding: 30px 124px;
            background: #EAEAEA;
        }
        &-fotos-10{
            min-width: 430px;  
            padding: 41px 124px 41px 125px;
            background: #282240;
        }
        &-fotos-11{
            min-width: 430px;  
            padding: 37px 120px 37px 121px;
            background: #1D4568;
        }
        &-fotos-12{
            border-radius: 0 0 12px 0;
            min-width: 430px;  
            padding: 13px 139px 12px 139px;
            background: $c000;
        }
    }
    .everything::before {
        right: 27%;
        width: 872.34px;
        height: 1000px;
    }
    .header-sub{
        padding: 360px 50px 90px 60px;
        &-svg{
            margin-top: 405px;
        }
    }
    .middle__home{
        padding: 0 280px;
        &-p{
            min-height: 303px;
            max-width: 925px;
            padding-top: 0;
        }
    }
    .peron__home{
        padding: 60px 160px 0;
        min-height: 298px;
        &-img{
            min-width: 400px;
            max-height: 298px;
        }
    }
    .middle__team-contact{
        padding: 60px 280px;
    }
    .team__header{
        min-width: 650px;
    }
    .contact__servise{
        min-width: 650px;
    }
    .middle__contact-text{
        padding: 0;
        margin-bottom: 0;
    }
    .middle__team-profile{
        padding: 60px 280px;
    }
}