.everything {
  border-radius: 0px 0px 12px 12px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}

.everything::before {
  content: "";
  position: absolute;
  right: -20%;
  width: 523.404px;
  height: 600px;
  background-image: url(../img-about/Symbol.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: overlay;
  z-index: 0;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 32px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #323264;
}

.burger-dark::before,
.burger-dark::after {
  background: #fff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #323264;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger-dark.burger-dark::before {
  box-shadow: 0 11px 0 #fff;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.menu-list {
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  padding: 335px 0 0 0;
  background: rgb(109, 109, 153);
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 100%;
}

.menu-listt {
  display: grid;
  margin: 0 8px;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  row-gap: 7.5px;
}
.menu-listt-dark {
  background-color: #323264;
}

.menu-item {
  background-color: #F5F5FA;
  display: block;
  padding: 7px 0;
  color: var(--Active-Regular, #24A3FF);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
}

.menu-item-active {
  color: var(--Accent, #F0145A);
}

.menu-item:hover {
  background: var(--Grey-Separator, #E6E6F0);
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.burger {
  position: relative;
  top: -30px;
}

.svg12 {
  fill: rgba(255, 255, 255, 0);
}

.svg12:hover {
  fill: #E6E6F0;
  transition: all 0.4s ease;
  cursor: pointer;
}

.header__about {
  z-index: 1;
}

.header__top__about {
  display: grid;
}
.header__top__about-dark {
  background: #323264;
}

.logo {
  padding: 15px 15px 0;
  order: 2;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
}

.logo-1 {
  fill: #46466E;
  width: 69.333px;
  height: 32px;
}

.logo-1-dark {
  fill: #fff;
  width: 69.333px;
  height: 32px;
}

.logo-2 {
  width: 12px;
  height: 26px;
}

.logo-sub-header__about {
  fill: #323264;
  width: 70px;
  height: 5px;
}
.logo-sub-header__about-dark {
  fill: #fff;
}

.p-logo {
  color: var(--Main-Regular, #323264);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-logo-dark {
  color: #fff;
}

.header__about-dark {
  background: #323264;
}

.info-header__about {
  background: #F5F5FA;
  order: 1;
}
.info-header__about-dark {
  background: #5f5680;
}

.info__about .svg-info__about {
  display: none;
  fill: #E6E6F0;
}

.info__about .location-info__about {
  display: none;
}

.info__about .fb-gray-info__about {
  display: none;
}

.info__about {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.p-menu-info__about {
  padding: 10px 0;
  display: flex;
}

.p-info__about {
  padding: 5px 7px;
  text-align: center;
  color: var(--Grey-Text, #B3B3BA);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}
.p-info__about-dark {
  color: #fff;
}

.p-info-active__about {
  color: var(--Basic-White, #fff);
  border-radius: 8px;
  background: var(--Accent, #F0145A);
}

.p-info__about:hover {
  color: var(--Basic-White, #fff);
  border-radius: 8px;
  background: var(--Accent, #F0145A);
  transition: all 0.4s ease;
  cursor: pointer;
}

.p-info__about-dark:hover {
  background: #B3B3BA;
}

.tel-info__about {
  padding-top: 12.5px;
  color: var(--Grey-Text, #B3B3BA);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tel-info__about-dark {
  color: #fff;
}

.tel-info__about:hover {
  color: var(--Main-Alt, #46466E);
  transition: all 0.4s ease;
}

.sub-header__about {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.sub-header__about-dark {
  background: #323264 11.93%;
}

.info__header__about {
  padding: 30px 30px;
}
.info__header__about-bottom {
  padding-bottom: 60px;
}
.info__header__about-light {
  display: grid;
  row-gap: 30px;
  background: #F5F5FA;
}
.info__header__about-light-gap {
  row-gap: 0;
}
.info__header__about-text {
  margin-bottom: 30px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.middle__team {
  padding: 30px 30px;
}
.middle__team-text {
  align-self: stretch;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.middle__team-dark {
  background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  border-radius: 0 0 12px 12px;
}

.person__team {
  display: grid;
  row-gap: 30px;
}
.person__team-every-img {
  width: 315px;
  height: 300px;
  border-radius: 12px;
}
.person__team-every:hover .middle__team-names-1 {
  color: #F0145A;
}

.person__team-every circle {
  fill: #F5F5FA;
}

.person__team-every path {
  stroke: #24A3FF;
}

.person__team-every:hover circle {
  fill: #EDEDF7;
}

.person__team-every:hover path {
  stroke: #F0145A;
}

.middle__team-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.middle__team-names {
  display: grid;
  row-gap: 5px;
}

.middle__team-names-1 {
  color: #323264;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.middle__team-names-2 {
  color: #B3B3BA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.text-header__about {
  min-width: 315px;
}

.h1-text-header__about {
  align-self: stretch;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-text-header__about {
  align-self: stretch;
  color: var(--Basic-Black, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.p-text-header__about-margin {
  margin-top: 28px;
}

.healthy__header {
  max-height: 322px;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
}

.row-healthy__header {
  display: grid;
  row-gap: 40px;
}

.text1-healthy__header {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.text1-healthy__header svg {
  margin-top: 6px;
}

.text-healthy__header {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.text-healthy__header svg {
  margin-top: 6px;
}

.text2-healthy__header svg {
  margin-top: 11px;
}

.plus__header {
  max-width: 254px;
  align-self: stretch;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-healthy__header {
  margin-top: 10px;
}

.middle__about {
  min-width: 375px;
  min-height: 114px;
  background: url(../img-about/Team-about.jpg) center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-middle__about {
  color: var(--Basic-White, #fff);
  text-align: center;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 13px;
  text-transform: uppercase;
  opacity: 0.8;
}

.info__header__about-section {
  margin-top: 30px;
}

.info__header__about-light {
  padding: 30px 30px 0;
}

.bottom__about {
  padding: 30px;
  background-color: #F5F5FA;
}
.bottom__about-padding {
  padding-top: 0;
}

.bottom__about .svg-info__about {
  display: none;
}

.text-bottom__about {
  color: var(--Main-Regular, #323264);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fotos-bottom__about {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.fotos-bottom__about-1 {
  padding: 24.4px 101px 25.6px;
  align-items: center;
  border-radius: 12px;
  background: var(--Basic-White, #fff);
}
.fotos-bottom__about-2 {
  display: none;
}
.fotos-bottom__about-3 {
  display: none;
}
.fotos-bottom__about-4 {
  display: none;
}

.switch-bottom__about {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding-bottom: 30px;
  border-bottom: 2px solid #E6E6F0;
}
.switch-bottom__about-bottom {
  margin-top: 0;
}
.switch-bottom__about-none {
  padding-bottom: 0;
  border-bottom: none;
}

.switch2-bottom__about {
  opacity: 0.2;
  fill: #24A3FF;
}

.switch2-bottom__about:hover {
  transition: all 0.4s ease;
  opacity: 1;
  fill: #24A3FF;
}

.p-info-bottom__about {
  margin-top: 30px;
  text-align: center;
  color: var(--Main-Regular, #323264);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-info-bottom__about-margin {
  margin-top: 0;
}

.text-info-bottom__about {
  row-gap: 10px;
}

.blue-info-bottom__about {
  margin-top: 10px;
  text-align: center;
  display: block;
  color: var(--Active-Regular, #24A3FF);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blue-info-bottom__about:hover {
  color: var(--Accent, #F0145A);
  transition: all 0.4s ease;
}

.contact__bottom {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fb-blue-info__about {
  margin-top: 21px;
  fill: #24A3FF;
}

.fb-blue-info__about:hover {
  fill: #F0145A;
  transition: all 0.4s ease;
}

.tel-contact__bottom {
  color: var(--Main-Alt, #46466E);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.email-contact__bottom {
  color: var(--Active-Regular, #24A3FF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.email-contact__bottom:hover {
  color: var(--Accent, #F0145A);
  transition: all 0.4s ease;
}

.p-text-info-bottom__about {
  margin-top: 30px;
  align-self: stretch;
  color: var(--Grey-Text, #B3B3BA);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.switch-inf-bottom__about-line {
  padding-top: 30px;
  border-top: 2px solid #E6E6F0;
}

.segmented {
  display: flex;
  justify-content: center;
}
.segmented-pro {
  display: flex;
  padding: 2px;
  border-radius: 12px;
  background-color: #E6E6F0;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.segmented-news {
  padding: 8px 30px 10px;
  color: #323264;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
}
.segmented-articles {
  padding: 8px 30px 10px;
  color: #323264;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #E6E6F0;
}
.segmented-articles:hover {
  background: #F5F5FA;
  transition: all 0.4s ease;
}

.info-publications {
  display: grid;
}
.info-publications-img {
  max-width: 315px;
  max-height: 200px;
  border-radius: 8px 8px 0 0;
}
.info-publications-radius {
  display: grid;
  row-gap: 15px;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  background: #fff;
}
.info-publications-radius-last {
  border-radius: 8px;
}
.info-publications-name {
  color: #24A3FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-publications-name:hover {
  color: #F0145A;
  transition: all 0.2s ease;
}
.info-publications-date {
  color: #B3B3BA;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 4px solid #E6E6F0;
}
.info-publications-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.more-publication {
  display: flex;
  justify-content: center;
}
.more-publication-text {
  text-align: center;
  padding: 18px 30px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.more-publication-text:hover {
  background: #24A3FF;
  box-shadow: 0px 0px 20px 0px rgba(237, 50, 17, 0.5);
  transition: all 0.4s ease;
}

.services-items {
  display: grid;
  row-gap: 30px;
}
.services-items-all {
  display: grid;
  row-gap: 30px;
}
.services-items-svg {
  max-width: 92px;
  max-height: 92px;
  padding: 14px;
  background-color: #fff;
  border-radius: 24px;
}
.services-items-svg-small {
  padding: 23px 22px;
}
.services-items-bottom {
  display: grid;
  row-gap: 15px;
}
.services-items-name {
  max-width: 300px;
  color: #24A3FF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.services-items-name:hover {
  color: #F0145A;
  transition: all 0.4s ease;
}
.services-items-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.bg1 {
  height: 10px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}

.bg2 {
  height: 10px;
  margin: 0 40px;
  border-radius: 0 0 12px 12px;
  background: #E7E7F2;
}

.sub-bottom-service {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  row-gap: 30px;
  text-align: center;
}
.sub-bottom-service-text {
  color: #323264;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sub-bottom-service-fotos-1 {
  display: block;
  padding: 36px 78px 36px 80px;
  background: #1C4280;
}
.sub-bottom-service-fotos-2 {
  display: block;
  padding: 44px 87px 44px 89px;
  background: #143646;
}
.sub-bottom-service-fotos-3 {
  display: block;
  padding: 38px 97px 38px 99px;
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}
.sub-bottom-service-fotos-4 {
  display: block;
  padding: 39px 97px 39px 98px;
  background: #9E4DC3;
}
.sub-bottom-service-fotos-5 {
  display: block;
  padding: 38px 100px 38px 101px;
  background: #FD9339;
}
.sub-bottom-service-fotos-6 {
  display: block;
  padding: 36px 89.583px 36px 90.625px;
  background: #E2E2E4;
}
.sub-bottom-service-fotos-7 {
  display: none;
}
.sub-bottom-service-fotos-8 {
  display: none;
}
.sub-bottom-service-fotos-9 {
  display: none;
}
.sub-bottom-service-fotos-10 {
  display: none;
}
.sub-bottom-service-fotos-11 {
  display: none;
}
.sub-bottom-service-fotos-12 {
  display: none;
}

.header-sub {
  padding: 115px 50px 60px 60px;
  text-align: center;
}
.header-sub-text {
  color: #fff;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-sub-svg {
  margin-top: 159px;
  stroke: white;
}
.header-sub-svg:hover {
  stroke: #F0145A;
}

.next-ser__pub {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.next-ser__pub-small {
  margin-bottom: 5px;
}
.next-ser__pub-name {
  color: #24A3FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.next-ser__pub-svg {
  padding-top: 1px;
  stroke: #24A3FF;
}

.next-ser__pub:hover .next-ser__pub-name {
  color: #F0145A;
  transition: all 0.2s ease;
}

.next-ser__pub:hover .next-ser__pub-svg {
  stroke: #F0145A;
  transition: all 0.2s ease;
}

.middle__home {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  row-gap: 30px;
}
.middle__home-spans {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  -moz-column-gap: 30px;
       column-gap: 30px;
  overflow-x: auto;
}
.middle__home-name {
  color: #B3B3BA;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.middle__home-name-active {
  background: var(--Gradient-Text-Red-Reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.middle__home-name:hover {
  color: #F0145A;
  transition: all 0.4s ease;
}
.middle__home-p {
  display: grid;
  row-gap: 30px;
  max-width: 315px;
  padding-top: 30px;
  border-top: 4px rgba(255, 255, 255, 0.3) solid;
}
.middle__home-p-name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.middle__home-text {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.peron__home {
  padding: 30px 30px 0;
}
.peron__home-all {
  max-height: 1087px;
  display: flex;
  flex-direction: column;
}
.peron__home-img {
  min-width: 315px;
  max-height: 500px;
  border-radius: 12px 12px 0px 0px;
}
.peron__home-info {
  padding: 30px;
  border-radius: 0 0 12px 12px;
  background: #F5F5FA;
}
.peron__home-text {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.peron__home-name {
  margin-top: 30px;
  color: #B3B3BA;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.peron__home-work {
  margin-top: 6px;
  color: #B3B3BA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.info-everything {
  display: grid;
  row-gap: 30px;
}

@media screen and (min-width: 768px) {
  .burger-checkbox,
  .burger {
    position: absolute;
    display: none;
  }
  .header__about {
    padding: 50px 60px 0;
  }
  .info-header__about {
    background: rgba(255, 255, 255, 0);
  }
  .info__about {
    padding: 0;
    display: flex;
    justify-content: left;
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .info__about .svg-info__about {
    display: block;
  }
  .info__about .location-info__about {
    margin-top: 2.5px;
    display: block;
    color: var(--Grey-Text, #B3B3BA);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .info__about .fb-gray-info__about {
    display: block;
  }
  .p-menu-info__about {
    padding: 0;
  }
  .tel-info__about {
    padding: 0;
    margin-top: 2.5px;
  }
  .p-info__about {
    line-height: 15px;
  }
  .svg-info__about {
    margin-top: 9.5px;
  }
  .fb-gray-info__about svg {
    fill: #B3B3BA;
  }
  .fb-gray-info__about-dark svg {
    fill: #fff;
  }
  .fb-gray-info__about:hover svg {
    fill: #F0145A;
    transition: all 0.4s ease;
  }
  .burger-checkbox {
    display: none;
  }
  .logo {
    padding: 0;
    margin-top: 30px;
  }
  .logo-1 {
    width: 130px;
    height: 46.499px;
  }
  .logo-1-dark {
    fill: #fff;
    width: 130px;
    height: 46.499px;
  }
  .logo-2 {
    width: 21px;
    height: 47px;
  }
  .p-logo {
    font-size: 36px;
    font-weight: 400;
  }
  .sub-header__about {
    display: block;
    padding: 0 0 0 60px;
  }
  .sub-header__about-bottom {
    padding-bottom: 60px;
  }
  .logo-sub-header__about {
    margin-top: 6px;
    width: 130px;
    height: 7.147px;
  }
  .menu-list {
    transform: none;
    position: static;
    padding: 0;
    background: transparent;
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .menu-listt {
    display: flex;
    gap: 7.5px;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    padding-bottom: 5px;
    color: var(--Active-Regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }
  .menu-item-dark {
    color: #fff;
  }
  .menu-item:hover {
    background-color: transparent;
    color: var(--Accent, #F0145A);
    border-bottom: 2px solid #F0145A;
  }
  .menu-item-dark:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .header-logo-red__about {
    color: var(--Accent, #F0145A);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid #F0145A;
  }
  .info__header__about {
    padding: 65px 60px 60px;
  }
  .middle__team {
    padding: 65px 60px 60px;
  }
  .middle__team-text {
    font-size: 38px;
    margin-bottom: 60px;
  }
  .person__team {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .person__team-every-img {
    width: 294px;
    height: 400px;
  }
  .h1-text-header__about {
    font-size: 38px;
  }
  .middle__about {
    min-width: 768px;
    min-height: 233px;
  }
  .text-middle__about {
    font-size: 46px;
    letter-spacing: 63px;
  }
  .bottom__about {
    padding: 30px 60px;
  }
  .fotos-bottom__about {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .fotos-bottom__about-1 {
    min-width: 53.333px;
    min-height: 40px;
    padding: 24.4px 39.7px 25.6px 39px;
  }
  .fotos-bottom__about-2 {
    display: block;
    min-width: 106px;
    min-height: 40px;
    padding: 24.4px 13px 25.6px 13px;
    border-radius: 12px;
    background: var(--Basic-White, #fff);
  }
  .fotos-bottom__about-3 {
    display: block;
    min-width: 130px;
    min-height: 40px;
    padding: 24.4px 1px 25.6px;
    border-radius: 12px;
    background: var(--Basic-White, #fff);
  }
  .fotos-bottom__about-4 {
    display: block;
    min-width: 110.667px;
    min-height: 40px;
    padding: 24.4px 10px 25.6px 11px;
    border-radius: 12px;
    background: var(--Basic-White, #fff);
  }
  .switch-bottom__about-mobile {
    display: none;
  }
  .info-bottom__about {
    margin-top: 30px;
    padding-left: 125px;
  }
  .info-bottom__about-padding {
    margin-top: 0;
  }
  .bottom__about .svg-info__about {
    margin-top: 7px;
    display: block;
  }
  .p-info-bottom__about {
    margin: 0;
  }
  .blue-info-bottom__about {
    margin-top: 2.5px;
  }
  .text-info-bottom__about {
    display: flex;
    justify-content: left;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .contact__bottom {
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
  }
  .fb-blue-info__about {
    margin-top: 0;
  }
  .contact__bottom .svg-info__about {
    margin-top: 16px;
  }
  .tel-contact__bottom {
    margin-top: 9px;
  }
  .email-contact__bottom {
    margin-top: 9px;
  }
  .info-everything {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .info-publications {
    max-width: 309px;
    align-items: stretch;
  }
  .info-publications-img {
    max-width: 309px;
    max-height: 200px;
  }
  .info-publications-radius {
    display: flex;
    flex-direction: column;
    min-height: 314px;
  }
  .services-items {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .services-items-all {
    display: flex;
    max-width: 294px;
    max-height: 373px;
    flex-direction: column;
  }
  .sub-bottom-service-fotos {
    display: flex;
    flex-wrap: wrap;
  }
  .sub-bottom-service-fotos-1 {
    max-width: 256px;
    max-height: 120px;
    padding: 36px 19px 36px 20px;
    background: #1C4280;
  }
  .sub-bottom-service-fotos-2 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 44px 28px 44px 29px;
    background: #143646;
  }
  .sub-bottom-service-fotos-3 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 38px 38px 38px 39px;
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  }
  .sub-bottom-service-fotos-4 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 39px 38px;
    background: #9E4DC3;
  }
  .sub-bottom-service-fotos-5 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 38px 41px;
    background: #FD9339;
  }
  .sub-bottom-service-fotos-6 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 36px 61.156px 36px 61.867px;
    background: #E2E2E4;
  }
  .sub-bottom-service-fotos-7 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 29px 59px 30px 59px;
    background: #C71C36;
  }
  .sub-bottom-service-fotos-8 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 22px 55px;
    background: #DCF3F9;
  }
  .sub-bottom-service-fotos-9 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 30px 37px;
    background: #EAEAEA;
  }
  .sub-bottom-service-fotos-10 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 41px 37px 41px 38px;
    background: #282240;
  }
  .sub-bottom-service-fotos-11 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 37px 33px 37px 34px;
    background: #1D4568;
  }
  .sub-bottom-service-fotos-12 {
    max-width: 256px;
    max-height: 120px;
    display: block;
    padding: 13px 52px 12px 52px;
    background: #000;
  }
  .everything::before {
    right: -10%;
    width: 893.277px;
    height: 1024px;
  }
  .header-sub {
    padding: 270px 50px 90px 60px;
  }
  .header-sub-svg {
    margin-top: 417px;
  }
  .middle__home {
    padding-left: 60px;
    row-gap: 60px;
  }
  .middle__home-name {
    font-size: 38px;
  }
  .middle__home-p {
    max-width: 648px;
    padding-top: 60px;
  }
  .middle__home-p-name {
    font-size: 30px;
  }
  .peron__home {
    padding: 60px 60px 0;
  }
  .peron__home-all {
    max-height: 936px;
  }
  .peron__home-img {
    min-width: 648px;
    max-height: 500px;
  }
  .peron__home-info {
    padding: 30px;
    border-radius: 0 0 12px 12px;
    background: #F5F5FA;
  }
  .peron__home-text {
    font-size: 38px;
  }
  .info-publications-long {
    max-width: 648px;
  }
  .info-publications-long-img {
    min-width: 648px;
  }
  .info-publications-long-radius {
    min-height: 128px;
  }
  .info__header__about-light {
    padding: 65px 60px 0;
  }
  .bottom__about-padding {
    padding: 0 60px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    order: 1;
    margin: 0;
  }
  .header__top__about {
    display: flex;
    justify-content: space-between;
  }
  .logo-sub-header__about {
    margin: 0;
  }
  .sub-header__about {
    display: flex;
    justify-content: space-between;
    padding: 6.5px 60px 0;
  }
  .sub-header__about-bottom {
    padding-bottom: 60px;
  }
  .menu-list {
    position: relative;
    margin: 0;
    top: -5px;
  }
  .healthy__header {
    margin: 0;
  }
  .info__header__about {
    display: flex;
    justify-content: left;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .info__header__about-light {
    flex-direction: column;
    background: #F5F5FA;
  }
  .middle__team-text {
    padding: 0 120px;
    margin-bottom: 60px;
  }
  .middle__team-text-dark {
    padding: 0;
  }
  .person__team-every-img {
    width: 261px;
    height: 400px;
  }
  .middle__team-names-2 {
    max-width: 210px;
  }
  .h1-text-header__about {
    margin-top: 0;
    max-width: 482px;
  }
  .p-text-header__about {
    max-width: 482px;
  }
  .sub-healthy__header-second {
    max-width: 354px;
  }
  .middle__about {
    min-width: 1024px;
    min-height: 311px;
  }
  .text-middle__about {
    font-size: 86px;
  }
  .info__header__about {
    display: flex;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-top: 60px;
  }
  .info__header__about-light {
    padding: 30px 60px 0;
  }
  .info__header__about-section {
    max-width: 362px;
  }
  .bottom__about {
    padding: 30px 60px;
  }
  .fotos-bottom__about {
    justify-content: space-between;
  }
  .fotos-bottom__about-1 {
    min-width: 80px;
    min-height: 60px;
    padding: 25px 58px;
  }
  .fotos-bottom__about-2 {
    min-width: 159px;
    min-height: 60px;
    padding: 25px 18px 25px 19px;
  }
  .fotos-bottom__about-3 {
    min-width: 195px;
    min-height: 60px;
    padding: 25px 1px;
  }
  .fotos-bottom__about-4 {
    min-width: 166px;
    min-height: 60px;
    padding: 25px 15px;
  }
  .switch-info-bottom__about {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .info-bottom__about {
    margin: 0;
    padding: 0;
  }
  .p-text-info-bottom__about {
    margin: 0;
  }
  .switch-inf-bottom__about {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }
  .switch-inf-bottom__about-margin {
    margin-top: 0;
  }
  .info-publications {
    max-width: 281px;
  }
  .info-publications-img {
    max-width: 281px;
    max-height: 200px;
  }
  .info-publications-radius {
    display: flex;
    flex-direction: column;
    min-height: 356px;
  }
  .services-items-all {
    max-width: 261px;
    max-height: 400px;
  }
  .sub-bottom-service-fotos-1 {
    max-width: 256px;
    padding: 36px 19px 36px 20px;
    background: #1C4280;
  }
  .sub-bottom-service-fotos-2 {
    max-width: 256px;
    padding: 44px 28px 44px 29px;
    background: #143646;
  }
  .sub-bottom-service-fotos-3 {
    max-width: 256px;
    padding: 38px 38px 38px 39px;
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  }
  .sub-bottom-service-fotos-4 {
    max-width: 256px;
    padding: 39px 38px;
    background: #9E4DC3;
  }
  .sub-bottom-service-fotos-5 {
    max-width: 256px;
    padding: 38px 41px;
    background: #FD9339;
  }
  .sub-bottom-service-fotos-6 {
    max-width: 256px;
    padding: 36px 61.156px 36px 61.867px;
    background: #E2E2E4;
  }
  .sub-bottom-service-fotos-7 {
    max-width: 256px;
    padding: 29px 59px 30px 59px;
    background: #C71C36;
  }
  .sub-bottom-service-fotos-8 {
    max-width: 256px;
    padding: 22px 55px;
    background: #DCF3F9;
  }
  .sub-bottom-service-fotos-9 {
    max-width: 256px;
    padding: 30px 37px;
    background: #EAEAEA;
  }
  .sub-bottom-service-fotos-10 {
    max-width: 256px;
    padding: 41px 37px 41px 38px;
    background: #282240;
  }
  .sub-bottom-service-fotos-11 {
    max-width: 256px;
    padding: 37px 33px 37px 34px;
    background: #1D4568;
  }
  .sub-bottom-service-fotos-12 {
    max-width: 256px;
    padding: 13px 52px 12px 52px;
    background: #000;
  }
  .everything::before {
    right: 17%;
    width: 669.957px;
    height: 768px;
  }
  .header-sub {
    padding: 235px 50px 90px 60px;
  }
  .header-sub-svg {
    margin-top: 290px;
  }
  .middle__home {
    padding: 0 60px;
    row-gap: 0;
    flex-direction: row;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .middle__home-spans {
    padding-top: 14.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
    overflow-x: hidden;
  }
  .middle__home-name {
    font-size: 38px;
  }
  .middle__home-p {
    min-height: 303px;
    max-width: 470px;
    padding-left: 60px;
    padding-top: 9.5px;
    border-top: none;
    border-left: 4px rgba(255, 255, 255, 0.3) solid;
  }
  .middle__home-p-name {
    font-size: 30px;
  }
  .peron__home {
    padding: 60px 60px 0;
    min-height: 528px;
  }
  .peron__home-all {
    max-height: 528px;
    flex-direction: row;
  }
  .peron__home-img {
    border-radius: 12px 0 0 12px;
    min-width: 400px;
    max-height: 528px;
  }
  .peron__home-info {
    border-radius: 0 12px 12px 0;
  }
  .info-publications-long {
    min-width: 281px;
  }
  .info-publications-long-img {
    min-width: 281px;
  }
  .info__header__about-light {
    padding: 65px 60px 0;
  }
  .bottom__about-padding {
    padding: 0 60px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .info__header__about {
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 60px 180px;
  }
  .text-header__about {
    justify-content: space-between;
  }
  .h1-text-header__about {
    max-width: 662px;
  }
  .p-text-header__about {
    max-width: 710px;
  }
  .middle__about {
    min-width: 1440px;
    min-height: 438px;
  }
  .text-middle__about {
    font-size: 96px;
  }
  .info__header__about-bottom {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .info__header__about {
    justify-content: space-between;
    padding: 60px 180px;
  }
  .info__header__about-second {
    max-width: 656.5px;
  }
  .info__header__about-section {
    max-width: 362px;
  }
  .info__header__about-light {
    padding: 30px 60px 0;
  }
  .middle__team {
    padding: 60px 60px;
  }
  .middle__team-text {
    padding: 0 120px;
    margin-bottom: 60px;
  }
  .middle__team-text-dark {
    padding: 0;
  }
  .middle__team-names-2 {
    min-width: 300px;
  }
  .person__team-every-img {
    width: 400px;
    height: 400px;
  }
  .fotos-bottom__about-1 {
    min-width: 80px;
    min-height: 60px;
    padding: 25px 110px;
  }
  .fotos-bottom__about-2 {
    min-width: 159px;
    min-height: 60px;
    padding: 25px 70px 25px 71px;
  }
  .fotos-bottom__about-3 {
    min-width: 195px;
    min-height: 60px;
    padding: 25px 52px 25px 53px;
  }
  .fotos-bottom__about-4 {
    min-width: 166px;
    min-height: 60px;
    padding: 25px 67px;
  }
  .info-publications {
    max-width: 420px;
  }
  .info-publications-img {
    min-width: 420px;
    max-height: 200px;
  }
  .info-publications-radius {
    min-height: 250px;
  }
  .services-items-all {
    max-width: 400px;
    max-height: 321px;
  }
  .sub-bottom-service-fotos-1 {
    max-width: 360px;
    padding: 36px 71px 36px 72px;
    background: #1C4280;
  }
  .sub-bottom-service-fotos-2 {
    max-width: 360px;
    padding: 44px 80px 44px 81px;
    background: #143646;
  }
  .sub-bottom-service-fotos-3 {
    max-width: 360px;
    padding: 38px 90px 38px 91px;
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  }
  .sub-bottom-service-fotos-4 {
    max-width: 360px;
    padding: 39px 90px;
    background: #9E4DC3;
  }
  .sub-bottom-service-fotos-5 {
    max-width: 360px;
    padding: 38px 93px;
    background: #FD9339;
  }
  .sub-bottom-service-fotos-6 {
    max-width: 360px;
    padding: 36px 86px 36px 87px;
    background: #E2E2E4;
  }
  .sub-bottom-service-fotos-7 {
    max-width: 360px;
    padding: 29px 111px 30px 111px;
    background: #C71C36;
  }
  .sub-bottom-service-fotos-8 {
    max-width: 360px;
    padding: 22px 107px;
    background: #DCF3F9;
  }
  .sub-bottom-service-fotos-9 {
    max-width: 360px;
    padding: 30px 89px;
    background: #EAEAEA;
  }
  .sub-bottom-service-fotos-10 {
    max-width: 360px;
    padding: 41px 89px 41px 90px;
    background: #282240;
  }
  .sub-bottom-service-fotos-11 {
    max-width: 360px;
    padding: 37px 85px 37px 86px;
    background: #1D4568;
  }
  .sub-bottom-service-fotos-12 {
    max-width: 360px;
    padding: 13px 104px 12px 104px;
    background: #000;
  }
  .everything::before {
    right: 25%;
    width: 697px;
    height: 799px;
  }
  .header-sub {
    padding: 245px 50px 90px 60px;
  }
  .header-sub-svg {
    margin-top: 305px;
  }
  .middle__home {
    padding: 0 180px;
  }
  .middle__home-name {
    font-size: 38px;
  }
  .middle__home-p {
    display: grid;
    align-content: center;
    align-items: center;
    min-height: 303px;
    max-width: 640px;
    padding-top: 0;
  }
  .peron__home {
    min-height: 344px;
  }
  .peron__home-img {
    min-width: 400px;
    max-height: 344px;
  }
}
@media screen and (min-width: 1920px) {
  .header__about {
    padding: 50px 160px 0;
  }
  .sub-header__about {
    padding: 6.5px 160px 0;
  }
  .sub-header__about-bottom {
    padding-bottom: 60px;
  }
  .info__header__about {
    padding: 60px 280px;
  }
  .info__header__about-light {
    padding: 30px 160px 0;
  }
  .middle__team {
    padding: 60px 160px;
  }
  .middle__team-text {
    padding: 0 120px;
    margin-bottom: 60px;
  }
  .middle__team-text-dark {
    padding: 0;
  }
  .person__team-every-img {
    width: 493px;
    height: 400px;
  }
  .h1-text-header__about {
    min-width: 939px;
  }
  .p-text-header__about {
    min-width: 939px;
  }
  .middle__about {
    min-width: 1920px;
    min-height: 584px;
  }
  .info__header__about-section {
    min-width: 362px;
  }
  .bottom__about {
    padding: 30px 160px;
  }
  .fotos-bottom__about-1 {
    padding: 25px 145px;
  }
  .fotos-bottom__about-2 {
    padding: 25px 105px 25px 106px;
  }
  .fotos-bottom__about-3 {
    padding: 25px 87px 25px 88px;
  }
  .fotos-bottom__about-4 {
    padding: 25px 102px;
  }
  .info-publications {
    max-width: 513px;
  }
  .info-publications-img {
    min-width: 513px;
    max-height: 200px;
  }
  .info-publications-radius {
    min-height: 230px;
  }
  .services-items-all {
    max-width: 493px;
    max-height: 295px;
  }
  .sub-bottom-service {
    padding: 0 100px 60px;
  }
  .sub-bottom-service-fotos-1 {
    border-radius: 12px 0 0 0;
    min-width: 430px;
    padding: 36px 106px 36px 107px;
    background: #1C4280;
  }
  .sub-bottom-service-fotos-2 {
    min-width: 430px;
    padding: 44px 115px 44px 116px;
    background: #143646;
  }
  .sub-bottom-service-fotos-3 {
    min-width: 430px;
    padding: 38px 125px 38px 126px;
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  }
  .sub-bottom-service-fotos-4 {
    border-radius: 0 12px 0 0;
    min-width: 430px;
    padding: 39px 125px;
    background: #9E4DC3;
  }
  .sub-bottom-service-fotos-5 {
    min-width: 430px;
    padding: 38px 128px;
    background: #FD9339;
  }
  .sub-bottom-service-fotos-6 {
    min-width: 430px;
    padding: 36px 102.722px 36px 103.917px;
    background: #E2E2E4;
  }
  .sub-bottom-service-fotos-7 {
    min-width: 430px;
    padding: 29px 146px 30px 146px;
    background: #C71C36;
  }
  .sub-bottom-service-fotos-8 {
    min-width: 430px;
    padding: 22px 142px;
    background: #DCF3F9;
  }
  .sub-bottom-service-fotos-9 {
    border-radius: 0 0 0 12px;
    min-width: 430px;
    padding: 30px 124px;
    background: #EAEAEA;
  }
  .sub-bottom-service-fotos-10 {
    min-width: 430px;
    padding: 41px 124px 41px 125px;
    background: #282240;
  }
  .sub-bottom-service-fotos-11 {
    min-width: 430px;
    padding: 37px 120px 37px 121px;
    background: #1D4568;
  }
  .sub-bottom-service-fotos-12 {
    border-radius: 0 0 12px 0;
    min-width: 430px;
    padding: 13px 139px 12px 139px;
    background: #000;
  }
  .everything::before {
    right: 27%;
    width: 872.34px;
    height: 1000px;
  }
  .header-sub {
    padding: 360px 50px 90px 60px;
  }
  .header-sub-svg {
    margin-top: 405px;
  }
  .middle__home {
    padding: 0 280px;
  }
  .middle__home-p {
    min-height: 303px;
    max-width: 925px;
    padding-top: 0;
  }
  .peron__home {
    padding: 60px 160px 0;
    min-height: 298px;
  }
  .peron__home-img {
    min-width: 400px;
    max-height: 298px;
  }
}/*# sourceMappingURL=style.css.map */