.svg12{
    fill: rgba(255, 255, 255, 0);
}

.svg12:hover{
    fill: #E6E6F0;
    transition: all 0.4s ease;
    cursor: pointer;
}

// 

.header__top__about{
    display: grid;
}

.logo{
    padding: 15px 15px 0;
    order: 2;
    display: flex;
    column-gap: 4px;
}

.logo-1{
    width: 69.333px;
    height: 32px;
}

.logo-2{
    width: 12px;
    height: 26px;
}

.logo-sub-header__about{
    width: 70px;
    height: 5px;
}

.p-logo{
    color: var(--Main-Regular, #323264);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-header__about{
    order: 1;    
}

.info-header__about{
    background: var(--Grey-Bg, #F5F5FA);
}

.info__about .svg-info__about{
    display: none;
}

.info__about .location-info__about{
    display: none;
}

.info__about .fb-gray-info__about{
    display: none;
}

.info__about{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.p-menu-info__about{
    padding: 10px 0;
    display: flex;
}

.p-info__about{
    padding: 5px 7px;
    text-align: center;
    color: var(--Grey-Text, #B3B3BA);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.p-info-active__about{
    color: var(--Basic-White, #FFF);
    border-radius: 8px;
    background: var(--Accent, #F0145A);
}

.p-info__about:hover{
    color: var(--Basic-White, #FFF);
    border-radius: 8px;
    background: var(--Accent, #F0145A);
    transition: all 0.4s ease;
    cursor: pointer;
}

.tel-info__about{
    padding-top: 12.5px;
    color: var(--Grey-Text, #B3B3BA);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tel-info__about:hover{
    color: var(--Main-Alt, #46466E);
    transition: all 0.4s ease;
}

.sub-header__about{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

// .offers-sub-header__about > .menu-offers-sub-header__about{
//     position: relative;
// }

// .offers-sub-header__about > .menu-offers-sub-header__about > .ul-menu-offers-sub-header__about{
//     position: absolute;
//     display: none;
// }

.ul-menu-offers-sub-header__about{
    display: none;
}

// .offers-sub-header__about > li > ul{
//     position: absolute;
//     display: none;
// }

.info__header__about{
    padding: 30px 30px;
    &-bottom{
        padding-bottom: 60px;
    }
}

.text-header__about{
    min-width: 315px;
}

.h1-text-header__about{
    align-self: stretch;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-text-header__about{
    align-self: stretch;
    color: var(--Basic-Black, #000);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    &-margin{
        margin-top: 28px;
    }
}

.healthy__header{
    margin-top: 30px;
    padding-left: 30px;
    border-left: 4px solid #E6E6F0;
}

.row-healthy__header{
    display: grid;
    row-gap: 40px;
}

.text1-healthy__header{
    display: flex;
    column-gap: 8px;
}

.text1-healthy__header svg{
    margin-top: 6px;
}

.text-healthy__header{
    display: flex;
    column-gap: 8px;
}

.text-healthy__header svg{
    margin-top: 6px;
}

.text2-healthy__header svg{
    margin-top: 11px;
}

.plus__header{
    max-width: 254px;
    align-self: stretch;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-healthy__header{
    margin-top: 10px;
}

.middle__about{
    min-width: 375px;
    min-height: 114px;
    background: url(../img-about/Team-about.jpg) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-middle__about{
    color: var(--Basic-White, #FFF);
    text-align: center;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 13px;
    text-transform: uppercase;
    opacity: 0.8;
}

.info__header__about-section{
    margin-top: 30px;
}

.bottom__about{
    padding: 30px;
    background-color: #F5F5FA;
}

.bottom__about .svg-info__about{
    display: none;
}

.text-bottom__about{
    color: var(--Main-Regular, #323264);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fotos-bottom__about{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    &-1{
        padding: 24.4px 101px 25.6px;
        align-items: center;
        border-radius: 12px;
        background: var(--Basic-White, #FFF);
    }
    &-2{
        display: none;
    }
    &-3{
        display: none;
    }
    &-4{
        display: none;
    }
}

.switch-bottom__about{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 14px;
    padding-bottom: 30px;
    border-bottom: 2px solid #E6E6F0;
}

.switch2-bottom__about{
    opacity: 0.2;
    fill: #24A3FF;
}

.switch2-bottom__about:hover{
    transition: all 0.4s ease;
    opacity: 0.1;
    fill: #24A3FF;
}


.p-info-bottom__about{
    margin-top: 30px;
    text-align: center;
    color: var(--Main-Regular, #323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-info-bottom__about{
    row-gap: 10px;

}

.blue-info-bottom__about{
    margin-top: 10px;
    text-align: center;
    display: block;
    color: var(--Active-Regular, #24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blue-info-bottom__about:hover{
    color: var(--Accent, #F0145A);
    transition: all 0.4s ease;
}

.contact__bottom{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fb-blue-info__about{
    margin-top: 21px;
    fill: #24A3FF;
}

.fb-blue-info__about:hover{
    fill: #F0145A;
    transition: all 0.4s ease;
}

.tel-contact__bottom{
    color: var(--Main-Alt, #46466E);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email-contact__bottom{
    color: var(--Active-Regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email-contact__bottom:hover{
    color: var(--Accent, #F0145A);
    transition: all 0.4s ease;
}

.p-text-info-bottom__about{
    margin-top: 30px;
    align-self: stretch;
    color: var(--Grey-Text, #B3B3BA);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}