h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
    padding: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 656px;
    margin-left: 400px;
    padding: 0 100px;
}


.header{
    display: flex;
    justify-content: center;
    margin-top: 52px;
}

.login{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    padding-right: 12px;
}

h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    padding-left: 12px;
}

.ep__register{
    padding: 0 100px;
}

.ep__register__ent{
    margin-top: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}

.ep__register__name{
    margin-top: 14px;
    width: 272px;
    height: 40px;
    display: flex;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}

.ep__register__mail{
    margin-top: 16px;
    width: 272px;
    height: 40px;
    display: flex;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}

.pass__img{
    margin-top: 16px;
    width: 272px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}

.ep__register__pass{
    margin-top: 16px;
    width: 272px;
    height: 40px;
    display: flex;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}

.google{
    margin-top: 27px;
    width: 272px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}
.google__con{
    margin-left: 9px;
}

.facebook{
    margin-top: 15px;
    width: 272px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0 14px;
    align-items: center;
	text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;;
    border-radius: 5px;
    cursor: pointer;
}
.facebbok__con{
    margin-left: 9px;
}

.ep__register__btn{
    display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 41px;
	/* padding: 1px 10px; */
    width: 300px;
    height: 45px;
	/* min */
	/* min-height: 30px; */
	border: 1px solid #46a358;
    border-radius: 5px;
	background: #46a358;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	line-height: 100%;
	cursor: pointer;
}

.ep__register__btn:hover{
    display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 41px;
    width: 300px;
    height: 45px;
	border: 1px solid #46a358;
    border-radius: 5px;
	background: #fff;
	font-weight: 700;
	font-size: 16px;
	color: #46a358;
	line-height: 100%;
	cursor: pointer;
    transition: all 0.4s ease;
}

.ep__register_reg{
    margin-top: 36px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}