@font-face {
    font-family: 'Cera Pro Regular';
    src: url('./fonts/cera_pro/CeraPro-Regular.eot') format(eot), url('./fonts/cera_pro/CeraPro-Regular.ttf') format(ttf), url('./fonts/cera_pro/CeraPro-Regular.woff') format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('./fonts/cera_pro/CeraPro-Medium.eot') format(eot), url('./fonts/cera_pro/CeraPro-Medium.ttf') format(ttf), url('./fonts/cera_pro/CeraPro-Medium.woff') format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('./fonts/cera_pro/CeraPro-Bold.eot') format(eot), url('./fonts/cera_pro/CeraPro-Bold.ttf') format(ttf), url('./fonts/cera_pro/CeraPro-Bold.woff') format(woff);
    font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    text-decoration: none;
    font-style: normal;
    list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sub-body{
    padding: 0 120px;
}

header{
    padding: 30px 0;
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{
    padding: 8px 25px 25px;   
    font-family: 'Cera Pro Regular', sans-serif;  
    color: #3d3d3d;
    font-size: 16px;
}

.list-item.active{
    border-bottom: 3px solid #46A358;
    font-family: 'Cera Pro Bold', sans-serif; 
}

.cta{
    font-family: 'Cera Pro Medium', sans-serif; 
    padding: 8px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* отступ между двумя или более элементами (только между флекс) */
    color: #fff;
    border-radius: 6px;
    border: #46A358;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
}

.sub-header{
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.top__titel{
    margin-top: 68px;
    font-family: 'Cera Pro Medium', sans-serif; 
    font-weight: 500;
    font-size: 14px;
    color: #3d3d3d;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.planet{
    max-width: 60%;
    margin-top: 7px;
    font-family: 'Cera Pro Bold', sans-serif; 
    color: #3d3d3d;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}

.planet__green{
    color: #46A358;
}

.top__titel__text{
    max-width: 55%;
    margin-top: 5px;
    font-family: 'Cera Pro Regular', sans-serif;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.btn__shop{
    margin-top: 44px;
    padding: 10px 26px ;
    color: #fff;
    border:#46A358;
    border-radius: 6px;
    background: #46A358;
    font-family: 'Cera Pro Bold', sans-serif; 
    font-weight: 700;
    font-size: 16px;
}

.foto{
    position: relative;
    display: inline-block;
}

.big__img{
    position: relative;
}

.smal__img{
    position: absolute;
    transform: translateX(-50%);
}